<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prj.edu.dao.BoardDAO">

	<select id="list" resultType="com.prj.edu.dto.BoardDTO">
		SELECT board_idx,board_title,mb_id,board_content,board_date,board_hits FROM board WHERE board_category = #{param3}
			ORDER BY board_idx DESC limit #{param1} offset #{param2}
	</select>
	
	<select id="allCount" parameterType="String" resultType="int">
		SELECT COUNT(board_idx) FROM board WHERE board_category = #{board_category}
	</select>
	
	
	<select id="boarddetail" parameterType="String"
		resultType="com.prj.edu.dto.BoardDTO">
		SELECT board_idx, board_hits,board_date,mb_id,board_title,board_content FROM board WHERE board_idx = #{board_idx}	
	</select>
	
	<insert id="write" parameterType="hashmap">
 		INSERT INTO board(mb_id,board_title,board_content,board_date,board_category,board_blind)
 		VALUES (#{mb_id},#{board_title},#{board_content},#{board_date},#{board_category},#{board_blind})
   </insert>
   
   <update id="board_update" parameterType="hashmap">
   		UPDATE board SET 
   			board_title = #{board_title}
   			,board_content = #{board_content}
   			WHERE board_idx = #{board_idx}
   </update>
   
   <update id="board_hits" parameterType="String">
		UPDATE board SET board_hits = board_hits+1 WHERE board_idx =#{board_idx}
	</update>
	
	<select id="writerId" parameterType="String" resultType="String">
		SELECT mb_id FROM board WHERE mb_id = #{mb_id}
	
	</select>
	
	<select id="cmtlist" parameterType="String" resultType="com.prj.edu.dto.CmtDTO">
		SELECT cmt_idx, cmt_content, cmt_date, mb_id, board_idx FROM cmt WHERE board_idx = #{board_idx}
	</select>
	
	<insert id="cmtwrite" parameterType="hashmap">	
		INSERT INTO cmt(cmt_content,cmt_date,mb_id,board_idx)
			VALUES (#{cmt_content},CURDATE(),#{mb_id},#{board_idx})
	</insert>
	
	<delete id="cmtdel">
		DELETE FROM cmt WHERE mb_id = #{param2} AND cmt_idx = #{param1}
	</delete>
	

</mapper>