<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.prj.edu.dao.CartDAO">
	
	<!-- 찜 담기 -->
<insert id="addCart">
 insert into cart (mb_id, recruit_idx)
     values (#{mb_id}, #{recruit_idx})
</insert>


<!-- 찜 리스트 -->
<select id="cartList" resultType="com.prj.edu.dto.CartDTO">
 select
     row_number() over(order by c.cart_index desc) as num,
     c.cart_index, c.mb_id, c.cart_date,
     r.recruit_title, r.recruit_period_start, r.recruit_period_end
 from cart c
     inner join recruit r
         on c.recruit_idx = r.recruit_idx   
     where c.mb_id = #{mb_id}
</select>
	
	</mapper>