<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.prj.edu.dao.PhotoDAO">
	

	<!-- 상세보기 사진 -->
	<select id="photoList" parameterType="String" resultType="com.prj.edu.dto.PhotoDTO">
		SELECT * FROM photos WHERE recruit_idx = #{recruit_idx}	
	</select>
	
	
	<!-- 사진 저장 -->
	<insert id="photoSave">		
		INSERT INTO photos(photo_original, photo_copy, recruit_idx)
			VALUES(#{param1},#{param2},#{param3} )	
	</insert>
	
	
	<!-- 
	<insert id="upload">
		INSERT INTO photo(photo_original, photo_copy, photo_category)
			VALUES(#{photo_original},#{photo_copy},#{photo_category})	
	</insert>
	
	<insert id="fileWrite">		
		INSERT INTO photo(photo_original, photo_copy, photo_pr_num, photo_category)
			VALUES(#{param1},#{param2},#{param3},#{param4} )	
	</insert>
	
	
	<insert id="uploadPhotos">
		INSERT INTO photo(photo_original, photo_copy, recruit_idx)
			VALUES(#{photo_original},#{photo_copy}, #{recruit_idx})	
	</insert>
	
	
	 
	<insert id="upload" parameterType="HashMap">
		INSERT INTO photo(photo_original, photo_copy, photo_pr_num, photo_category)
			VALUES(#{param1},#{param2},#{param3},#{param4})	
	</insert>
	
	<insert id="insertFile" parameterType="map">
		INSERT INTO photo(photo_original, photo_copy, photo_pr_num, photo_category)
			VALUES(#{param1},#{param2},#{param3},#{param4})	
	</insert>
	-->
	
	
</mapper>
	
	